{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/c-language'>C-language (7)</a></li>
  <li><a href='/blog/categories/cplusplus'>Cplusplus (4)</a></li>
  <li><a href='/blog/categories/erlang'>Erlang (8)</a></li>
  <li><a href='/blog/categories/freebsd'>Freebsd (1)</a></li>
  <li><a href='/blog/categories/gcc'>Gcc (1)</a></li>
  <li><a href='/blog/categories/hbase'>Hbase (1)</a></li>
  <li><a href='/blog/categories/java'>Java (1)</a></li>
  <li><a href='/blog/categories/javascript'>Javascript (3)</a></li>
  <li><a href='/blog/categories/mongodb'>Mongodb (1)</a></li>
  <li><a href='/blog/categories/monitor'>Monitor (3)</a></li>
  <li><a href='/blog/categories/nginx'>Nginx (2)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (1)</a></li>
  <li><a href='/blog/categories/php'>Php (3)</a></li>
  <li><a href='/blog/categories/python'>Python (1)</a></li>
  <li><a href='/blog/categories/rrdtool'>Rrdtool (1)</a></li>
  <li><a href='/blog/categories/shell'>Shell (2)</a></li>
  <li><a href='/blog/categories/vim'>Vim (1)</a></li>
</ul>
</section>
{% endif %}
