{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/c-language'>C-language (8)</a></li>
  <li><a href='/blog/categories/cplusplus'>Cplusplus (4)</a></li>
  <li><a href='/blog/categories/erlang'>Erlang (14)</a></li>
  <li><a href='/blog/categories/freebsd'>Freebsd (2)</a></li>
  <li><a href='/blog/categories/gcc'>Gcc (1)</a></li>
  <li><a href='/blog/categories/hadoop'>Hadoop (2)</a></li>
  <li><a href='/blog/categories/haproxy'>Haproxy (1)</a></li>
  <li><a href='/blog/categories/hbase'>Hbase (1)</a></li>
  <li><a href='/blog/categories/java'>Java (2)</a></li>
  <li><a href='/blog/categories/javascript'>Javascript (3)</a></li>
  <li><a href='/blog/categories/mongodb'>Mongodb (1)</a></li>
  <li><a href='/blog/categories/monitor'>Monitor (4)</a></li>
  <li><a href='/blog/categories/nginx'>Nginx (3)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (1)</a></li>
  <li><a href='/blog/categories/php'>Php (3)</a></li>
  <li><a href='/blog/categories/python'>Python (1)</a></li>
  <li><a href='/blog/categories/rrdtool'>Rrdtool (4)</a></li>
  <li><a href='/blog/categories/shell'>Shell (2)</a></li>
  <li><a href='/blog/categories/vim'>Vim (6)</a></li>
  <li><a href='/blog/categories/版本控制'>版本控制 (1)</a></li>
</ul>
</section>
{% endif %}
